In [1]:
import quandl
from datetime import datetime
import pandas as pd

In [2]:
quandl.ApiConfig.api_key = "V2vzspYSYL8eenGuq8uF "
url = 'https://www.quandl.com/api/v3/databases/EOD/metadata?api_key=V2vzspYSYL8eenGuq8uF'

In [3]:
mydata3 = quandl.get("EOD/INTC",collapse="monthly")
mydata3.head

<bound method NDFrame.head of              Open     High      Low  Close      Volume  Dividend  Split  \
Date
1980-03-31  61.75  62.7500  61.7500  61.75     46900.0       0.0    1.0
1980-04-30  61.25  62.2500  61.2500  61.25     36800.0       0.0    1.0
1980-05-31  68.00  69.0000  68.0000  68.00     29800.0       0.0    1.0
1980-06-30  66.25  66.7500  65.7500  65.75     27800.0       0.0    1.0
1980-07-31  84.75  85.2500  84.7500  84.75    127000.0       0.0    1.0
1980-08-31  87.75  87.7500  87.5000  87.50     81000.0       0.0    1.0
1980-09-30  89.00  89.5000  89.0000  89.00     31700.0       0.0    1.0
1980-10-31  42.00  42.2500  42.0000  42.00    172700.0       0.0    1.0
1980-11-30  47.00  47.0000  46.5000  46.50     53000.0       0.0    1.0
1980-12-31  40.25  40.7500  40.2500  40.25     69000.0       0.0    1.0
1981-01-31  37.50  37.5000  37.2500  37.25     93300.0       0.0    1.0
1981-02-28  35.00  35.2500  35.0000  35.00    375600.0       0.0    1.0
1981-03-31  36.50  36.5000  36.2500  36.25     49400.0       0.0    1.0
1981-04-30  38.00  38.0000  37.7500  37.75     81800.0       0.0    1.0
1981-05-31  41.25  41.2500  41.0000  41.00    282200.0       0.0    1.0
1981-06-30  36.25  36.2500  36.0000  36.00    106700.0       0.0    1.0
1981-07-31  33.75  34.0000  33.7500  33.75     91100.0       0.0    1.0
1981-08-31  28.00  28.2500  28.0000  28.00     57400.0       0.0    1.0
1981-09-30  24.25  24.5000  24.2500  24.25    130200.0       0.0    1.0
1981-10-31  28.50  28.7500  28.5000  28.50     95200.0       0.0    1.0
1981-11-30  25.00  25.2500  25.0000  25.00    112100.0       0.0    1.0
1981-12-31  22.75  22.7500  22.5000  22.50    115500.0       0.0    1.0
1982-01-31  26.00  26.2500  26.0000  26.00    204200.0       0.0    1.0
1982-02-28  25.50  25.7500  25.5000  25.50     91300.0       0.0    1.0
1982-03-31  28.75  29.0000  28.7500  28.75    182600.0       0.0    1.0
1982-04-30  31.75  31.7500  31.5000  31.50    128100.0       0.0    1.0
1982-05-31  30.50  30.7500  30.2500  30.25    105600.0       0.0    1.0
1982-06-30  31.25  31.5000  31.2500  31.25    108100.0       0.0    1.0
1982-07-31  32.50  32.5000  32.2500  32.25    142500.0       0.0    1.0
1982-08-31  36.75  37.0000  36.7500  36.75    343200.0       0.0    1.0
...           ...      ...      ...    ...         ...       ...    ...
2016-04-30  30.86  30.8700  30.1000  30.28  36443747.0       0.0    1.0
2016-05-31  31.51  31.6500  31.3100  31.59  23040218.0       0.0    1.0
2016-06-30  32.00  32.8800  31.9700  32.80  34528919.0       0.0    1.0
2016-07-31  34.77  34.9150  34.6050  34.86  18171236.0       0.0    1.0
2016-08-31  35.62  35.9000  35.5800  35.89  20562722.0       0.0    1.0
2016-09-30  37.47  37.9200  37.4400  37.75  24279306.0       0.0    1.0
2016-10-31  34.92  35.0800  34.8400  34.87  19188602.0       0.0    1.0
2016-11-30  33.88  35.3000  34.7000  34.70  27016070.0       0.0    1.0
2016-12-31  36.79  36.8000  36.2000  36.27  17467984.0       0.0    1.0
2017-01-31  37.22  37.3700  36.6401  36.82  27059084.0       0.0    1.0
2017-02-28  36.42  36.4600  36.0000  36.20  24977011.0       0.0    1.0
2017-03-31  35.75  36.2500  35.7400  36.07  21438385.0       0.0    1.0
2017-04-30  36.10  36.4850  35.8800  36.15  56769258.0       0.0    1.0
2017-05-31  36.31  36.3800  35.8700  36.11  17741896.0       0.0    1.0
2017-06-30  33.87  33.9300  33.5350  33.74  24432020.0       0.0    1.0
2017-07-31  35.47  35.7400  35.3200  35.47  27056989.0       0.0    1.0
2017-08-31  34.94  35.1800  34.8700  35.07  16366772.0       0.0    1.0
2017-09-30  37.84  38.1500  37.7000  38.08  23217336.0       0.0    1.0
2017-10-31  45.20  45.8000  44.6500  45.49  47000920.0       0.0    1.0
2017-11-30  44.36  45.2000  44.3300  44.84  34145303.0       0.0    1.0
2017-12-31  46.21  46.4900  46.0900  46.16  17394491.0       0.0    1.0
2018-01-31  49.23  49.2500  47.5600  48.14  41619914.0       0.0    1.0
2018-02-28  50.18  50.3400  49.2800  49.29  35541183.0       0.0    1.0
2018-03-31  49.98  52.0800  49.8700  52.08  45265805.0       0.0    1.0
2018-04-30  52.56  53.3700  51.2100  51.62  36417370.0       0.0    1.0
2018-05-31  55.67  55.8600  55.0600  55.20  30962105.0       0.0    1.0
2018-06-30  49.53  50.1100  49.5000  49.71  28906523.0       0.0    1.0
2018-07-31  48.24  48.6757  47.6900  48.10  36581201.0       0.0    1.0
2018-08-31  47.96  48.5600  47.9200  48.43  16483981.0       0.0    1.0
2018-09-30  45.78  45.9650  45.3500  45.54  22998666.0       0.0    1.0

             Adj_Open   Adj_High    Adj_Low  Adj_Close  Adj_Volume
Date
1980-03-31   0.209671   0.213067   0.209671   0.209671   9004800.0
1980-04-30   0.207974   0.211369   0.207974   0.207974   7065600.0
1980-05-31   0.230893   0.234289   0.230893   0.230893   5721600.0
1980-06-30   0.224951   0.226649   0.223253   0.223253   5337600.0
1980-07-31   0.287768   0.289465   0.287768   0.287768  24384000.0
1980-08-31   0.297954   0.297954   0.297105   0.297105  15552000.0
1980-09-30   0.302199   0.303896   0.302199   0.302199   6086400.0
1980-10-31   0.285221   0.286919   0.285221   0.285221  16579200.0
1980-11-30   0.319176   0.319176   0.315780   0.315780   5088000.0
1980-12-31   0.273337   0.276732   0.273337   0.273337   6624000.0
1981-01-31   0.254662   0.254662   0.252964   0.252964   8956800.0
1981-02-28   0.237684   0.239382   0.237684   0.237684  36057600.0
1981-03-31   0.247871   0.247871   0.246173   0.246173   4742400.0
1981-04-30   0.258057   0.258057   0.256359   0.256359   7852800.0
1981-05-31   0.280128   0.280128   0.278430   0.278430  27091200.0
1981-06-30   0.246173   0.246173   0.244475   0.244475  10243200.0
1981-07-31   0.229196   0.230893   0.229196   0.229196   8745600.0
1981-08-31   0.190147   0.191845   0.190147   0.190147   5510400.0
1981-09-30   0.164681   0.166379   0.164681   0.164681  12499200.0
1981-10-31   0.193543   0.195241   0.193543   0.193543   9139200.0
1981-11-30   0.169774   0.171472   0.169774   0.169774  10761600.0
1981-12-31   0.154495   0.154495   0.152797   0.152797  11088000.0
1982-01-31   0.176565   0.178263   0.176565   0.176565  19603200.0
1982-02-28   0.173170   0.174868   0.173170   0.173170   8764800.0
1982-03-31   0.195241   0.196938   0.195241   0.195241  17529600.0
1982-04-30   0.215614   0.215614   0.213916   0.213916  12297600.0
1982-05-31   0.207125   0.208823   0.205427   0.205427  10137600.0
1982-06-30   0.212218   0.213916   0.212218   0.212218  10377600.0
1982-07-31   0.220707   0.220707   0.219009   0.219009  13680000.0
1982-08-31   0.249568   0.251266   0.249568   0.249568  32947200.0
...               ...        ...        ...        ...         ...
2016-04-30  28.774958  28.784282  28.066307  28.234145  36443747.0
2016-05-31  29.636956  29.768634  29.448845  29.712201  23040218.0
2016-06-30  30.097829  30.925520  30.069613  30.850275  34528919.0
2016-07-31  32.703173  32.839553  32.547981  32.787823  18171236.0
2016-08-31  33.756973  34.022328  33.719065  34.012851  20562722.0
2016-09-30  35.510213  35.936676  35.481782  35.775568  24279306.0
2016-10-31  33.093585  33.245216  33.017769  33.046200  19188602.0
2016-11-30  32.354018  33.710060  33.137085  33.137085  27016070.0
2016-12-31  35.132949  35.142499  34.569523  34.636371  17467984.0
2017-01-31  35.543582  35.686826  34.989801  35.161598  27059084.0
2017-02-28  35.027224  35.065694  34.623286  34.815637  24977011.0
2017-03-31  34.382846  34.863725  34.373229  34.690609  21438385.0
2017-04-30  34.719461  35.089738  34.507875  34.767549  56769258.0
2017-05-31  35.178761  35.246580  34.752469  34.984992  17741896.0
2017-06-30  32.814780  32.872910  32.490216  32.688830  24432020.0
2017-07-31  34.364931  34.626520  34.219605  34.364931  27056989.0
2017-08-31  34.104239  34.338499  34.035914  34.231130  16366772.0
2017-09-30  36.934872  37.237457  36.798221  37.169131  23217336.0
2017-10-31  44.118821  44.704470  43.581977  44.401885  47000920.0
2017-11-30  43.551568  44.376260  43.522115  44.022821  34145303.0
2017-12-31  45.367853  45.642751  45.250040  45.318765  17394491.0
2018-01-31  48.332816  48.352451  46.693251  47.262680  41619914.0
2018-02-28  49.594598  49.752731  48.705097  48.714980  35541183.0
2018-03-31  49.396931  51.472432  49.288214  51.472432  45265805.0
2018-04-30  51.946832  52.747383  50.612582  51.017799  36417370.0
2018-05-31  55.333286  55.522137  54.726976  54.866129  30962105.0
2018-06-30  49.230423  49.806915  49.200605  49.409335  28906523.0
2018-07-31  47.948226  48.381291  47.401552  47.809073  36581201.0
2018-08-31  47.960000  48.560000  47.920000  48.430000  16483981.0
2018-09-30  45.780000  45.965000  45.350000  45.540000  22998666.0

[463 rows x 12 columns]>

In [4]:
Inteldata = mydata3[["Open","High","Low","Close","Volume","Split"]]

In [5]:
Inteldata.reset_index(inplace = True)

Inteldata.head()

        Date   Open   High    Low  Close    Volume  Split
0 1980-03-31  61.75  62.75  61.75  61.75   46900.0    1.0
1 1980-04-30  61.25  62.25  61.25  61.25   36800.0    1.0
2 1980-05-31  68.00  69.00  68.00  68.00   29800.0    1.0
3 1980-06-30  66.25  66.75  65.75  65.75   27800.0    1.0
4 1980-07-31  84.75  85.25  84.75  84.75  127000.0    1.0

In [23]:
gg = []
ggN = []
for hh in Inteldata["Date"]:
    
    gg.append(f"{hh.year}-{hh.month}-{hh.day}")
    ggN.append(f"{hh.year}-{hh.month}-{hh.day}")
#     print(hh.month)
# gg.remove(-1)
len(gg)
del gg[-1]
len(ggN)

463

In [24]:
Volume = []
for Vo in Inteldata["Volume"]:
    Volume.append(Vo)
len(Volume)    
Close = []
for Co in Inteldata["Close"]:
    Close.append(Co)
len(Close)

463

In [16]:
year = 1979

x = 0
changes = []
while x < (len(Inteldata)-1):
    openV = Inteldata["Open"][x]

    closeV = Inteldata["Close"][x+1]
    changes.append(round((closeV-openV)/openV*100,2))

    x += 1
print(len(changes))

462

In [17]:
months = ["January","Febuary","March","April","May","June","July","August","Septemeber","October","November","December"]
year = 1980
labels = []
while year < 2018:
    for month in months:
        labels.append(str(month) + " " + str(year))
    year += 1    
labels.append("January 2018")
labels.append("Febuary 2018")
labels.append("March 2018")
labels.append("April 2018")
labels.append("May 2018")
labels.append("June 2018")
labels.append("July 2018")
labels.append("August 2018")
labels.pop(0)
labels.pop(0)


labels

['March 1980',
 'April 1980',
 'May 1980',
 'June 1980',
 'July 1980',
 'August 1980',
 'Septemeber 1980',
 'October 1980',
 'November 1980',
 'December 1980',
 'January 1981',
 'Febuary 1981',
 'March 1981',
 'April 1981',
 'May 1981',
 'June 1981',
 'July 1981',
 'August 1981',
 'Septemeber 1981',
 'October 1981',
 'November 1981',
 'December 1981',
 'January 1982',
 'Febuary 1982',
 'March 1982',
 'April 1982',
 'May 1982',
 'June 1982',
 'July 1982',
 'August 1982',
 'Septemeber 1982',
 'October 1982',
 'November 1982',
 'December 1982',
 'January 1983',
 'Febuary 1983',
 'March 1983',
 'April 1983',
 'May 1983',
 'June 1983',
 'July 1983',
 'August 1983',
 'Septemeber 1983',
 'October 1983',
 'November 1983',
 'December 1983',
 'January 1984',
 'Febuary 1984',
 'March 1984',
 'April 1984',
 'May 1984',
 'June 1984',
 'July 1984',
 'August 1984',
 'Septemeber 1984',
 'October 1984',
 'November 1984',
 'December 1984',
 'January 1985',
 'Febuary 1985',
 'March 1985',
 'April 1985',
 'May 1985',
 'June 1985',
 'July 1985',
 'August 1985',
 'Septemeber 1985',
 'October 1985',
 'November 1985',
 'December 1985',
 'January 1986',
 'Febuary 1986',
 'March 1986',
 'April 1986',
 'May 1986',
 'June 1986',
 'July 1986',
 'August 1986',
 'Septemeber 1986',
 'October 1986',
 'November 1986',
 'December 1986',
 'January 1987',
 'Febuary 1987',
 'March 1987',
 'April 1987',
 'May 1987',
 'June 1987',
 'July 1987',
 'August 1987',
 'Septemeber 1987',
 'October 1987',
 'November 1987',
 'December 1987',
 'January 1988',
 'Febuary 1988',
 'March 1988',
 'April 1988',
 'May 1988',
 'June 1988',
 'July 1988',
 'August 1988',
 'Septemeber 1988',
 'October 1988',
 'November 1988',
 'December 1988',
 'January 1989',
 'Febuary 1989',
 'March 1989',
 'April 1989',
 'May 1989',
 'June 1989',
 'July 1989',
 'August 1989',
 'Septemeber 1989',
 'October 1989',
 'November 1989',
 'December 1989',
 'January 1990',
 'Febuary 1990',
 'March 1990',
 'April 1990',
 'May 1990',
 'June 1990',
 'July 1990',
 'August 1990',
 'Septemeber 1990',
 'October 1990',
 'November 1990',
 'December 1990',
 'January 1991',
 'Febuary 1991',
 'March 1991',
 'April 1991',
 'May 1991',
 'June 1991',
 'July 1991',
 'August 1991',
 'Septemeber 1991',
 'October 1991',
 'November 1991',
 'December 1991',
 'January 1992',
 'Febuary 1992',
 'March 1992',
 'April 1992',
 'May 1992',
 'June 1992',
 'July 1992',
 'August 1992',
 'Septemeber 1992',
 'October 1992',
 'November 1992',
 'December 1992',
 'January 1993',
 'Febuary 1993',
 'March 1993',
 'April 1993',
 'May 1993',
 'June 1993',
 'July 1993',
 'August 1993',
 'Septemeber 1993',
 'October 1993',
 'November 1993',
 'December 1993',
 'January 1994',
 'Febuary 1994',
 'March 1994',
 'April 1994',
 'May 1994',
 'June 1994',
 'July 1994',
 'August 1994',
 'Septemeber 1994',
 'October 1994',
 'November 1994',
 'December 1994',
 'January 1995',
 'Febuary 1995',
 'March 1995',
 'April 1995',
 'May 1995',
 'June 1995',
 'July 1995',
 'August 1995',
 'Septemeber 1995',
 'October 1995',
 'November 1995',
 'December 1995',
 'January 1996',
 'Febuary 1996',
 'March 1996',
 'April 1996',
 'May 1996',
 'June 1996',
 'July 1996',
 'August 1996',
 'Septemeber 1996',
 'October 1996',
 'November 1996',
 'December 1996',
 'January 1997',
 'Febuary 1997',
 'March 1997',
 'April 1997',
 'May 1997',
 'June 1997',
 'July 1997',
 'August 1997',
 'Septemeber 1997',
 'October 1997',
 'November 1997',
 'December 1997',
 'January 1998',
 'Febuary 1998',
 'March 1998',
 'April 1998',
 'May 1998',
 'June 1998',
 'July 1998',
 'August 1998',
 'Septemeber 1998',
 'October 1998',
 'November 1998',
 'December 1998',
 'January 1999',
 'Febuary 1999',
 'March 1999',
 'April 1999',
 'May 1999',
 'June 1999',
 'July 1999',
 'August 1999',
 'Septemeber 1999',
 'October 1999',
 'November 1999',
 'December 1999',
 'January 2000',
 'Febuary 2000',
 'March 2000',
 'April 2000',
 'May 2000',
 'June 2000',
 'July 2000',
 'August 2000',
 'Septemeber 2000',
 'October 2000',
 'November 2000',
 'December 2000',
 'January 2001',
 'Febuary 2001',
 'March 2001',
 'April 2001',
 'May 2001',
 'June 2001',
 'July 2001',
 'August 2001',
 'Septemeber 2001',
 'October 2001',
 'November 2001',
 'December 2001',
 'January 2002',
 'Febuary 2002',
 'March 2002',
 'April 2002',
 'May 2002',
 'June 2002',
 'July 2002',
 'August 2002',
 'Septemeber 2002',
 'October 2002',
 'November 2002',
 'December 2002',
 'January 2003',
 'Febuary 2003',
 'March 2003',
 'April 2003',
 'May 2003',
 'June 2003',
 'July 2003',
 'August 2003',
 'Septemeber 2003',
 'October 2003',
 'November 2003',
 'December 2003',
 'January 2004',
 'Febuary 2004',
 'March 2004',
 'April 2004',
 'May 2004',
 'June 2004',
 'July 2004',
 'August 2004',
 'Septemeber 2004',
 'October 2004',
 'November 2004',
 'December 2004',
 'January 2005',
 'Febuary 2005',
 'March 2005',
 'April 2005',
 'May 2005',
 'June 2005',
 'July 2005',
 'August 2005',
 'Septemeber 2005',
 'October 2005',
 'November 2005',
 'December 2005',
 'January 2006',
 'Febuary 2006',
 'March 2006',
 'April 2006',
 'May 2006',
 'June 2006',
 'July 2006',
 'August 2006',
 'Septemeber 2006',
 'October 2006',
 'November 2006',
 'December 2006',
 'January 2007',
 'Febuary 2007',
 'March 2007',
 'April 2007',
 'May 2007',
 'June 2007',
 'July 2007',
 'August 2007',
 'Septemeber 2007',
 'October 2007',
 'November 2007',
 'December 2007',
 'January 2008',
 'Febuary 2008',
 'March 2008',
 'April 2008',
 'May 2008',
 'June 2008',
 'July 2008',
 'August 2008',
 'Septemeber 2008',
 'October 2008',
 'November 2008',
 'December 2008',
 'January 2009',
 'Febuary 2009',
 'March 2009',
 'April 2009',
 'May 2009',
 'June 2009',
 'July 2009',
 'August 2009',
 'Septemeber 2009',
 'October 2009',
 'November 2009',
 'December 2009',
 'January 2010',
 'Febuary 2010',
 'March 2010',
 'April 2010',
 'May 2010',
 'June 2010',
 'July 2010',
 'August 2010',
 'Septemeber 2010',
 'October 2010',
 'November 2010',
 'December 2010',
 'January 2011',
 'Febuary 2011',
 'March 2011',
 'April 2011',
 'May 2011',
 'June 2011',
 'July 2011',
 'August 2011',
 'Septemeber 2011',
 'October 2011',
 'November 2011',
 'December 2011',
 'January 2012',
 'Febuary 2012',
 'March 2012',
 'April 2012',
 'May 2012',
 'June 2012',
 'July 2012',
 'August 2012',
 'Septemeber 2012',
 'October 2012',
 'November 2012',
 'December 2012',
 'January 2013',
 'Febuary 2013',
 'March 2013',
 'April 2013',
 'May 2013',
 'June 2013',
 'July 2013',
 'August 2013',
 'Septemeber 2013',
 'October 2013',
 'November 2013',
 'December 2013',
 'January 2014',
 'Febuary 2014',
 'March 2014',
 'April 2014',
 'May 2014',
 'June 2014',
 'July 2014',
 'August 2014',
 'Septemeber 2014',
 'October 2014',
 'November 2014',
 'December 2014',
 'January 2015',
 'Febuary 2015',
 'March 2015',
 'April 2015',
 'May 2015',
 'June 2015',
 'July 2015',
 'August 2015',
 'Septemeber 2015',
 'October 2015',
 'November 2015',
 'December 2015',
 'January 2016',
 'Febuary 2016',
 'March 2016',
 'April 2016',
 'May 2016',
 'June 2016',
 'July 2016',
 'August 2016',
 'Septemeber 2016',
 'October 2016',
 'November 2016',
 'December 2016',
 'January 2017',
 'Febuary 2017',
 'March 2017',
 'April 2017',
 'May 2017',
 'June 2017',
 'July 2017',
 'August 2017',
 'Septemeber 2017',
 'October 2017',
 'November 2017',
 'December 2017',
 'January 2018',
 'Febuary 2018',
 'March 2018',
 'April 2018',
 'May 2018',
 'June 2018',
 'July 2018',
 'August 2018']

In [25]:
Intel_json = {
    "numbers": changes, 
    "labels": labels,
    "Dates": gg,
    "Dates_Normal": ggN,
    "Volume": Volume, 
    "Close": Close
}

In [26]:
import pymongo

# Create connection variable
conn = 'mongodb://localhost:27017'

# Pass connection to the pymongo instance.
client = pymongo.MongoClient(conn)

# Connect to a database. Will create one if not already available.
db = client.Intel_y_y

# Drops collection if available to remove duplicates
db.intel_y_o_y.drop()

# Creates a collection in the database and insert document
db.intel_y_o_y.insert_one(
    Intel_json
)

In [28]:
463/4

115.75

In [35]:
in_sort1 = Inteldata.iloc[:115]
in_sort2 = Inteldata.iloc[115:231]
in_sort3 = Inteldata.iloc[231:347]
in_sort4 = Inteldata.iloc[347:]

In [36]:
print(len(in_sort1))
print(len(in_sort2))
print(len(in_sort3))
print(len(in_sort4))

115
116
116
116

In [37]:
i1_O = in_sort1.iloc[:1]["Open"]
i1_C = in_sort1.iloc[114:]["Close"]
i1 = round((int(i1_C)-int(i1_O))/int(i1_O)*100,2)

i2_O = in_sort2.iloc[:1]["Open"]
i2_C = in_sort2.iloc[115:]["Close"]
i2 = round((int(i2_C)-int(i2_O))/int(i2_O)*100,2)

i3_O = in_sort3.iloc[:1]["Open"]
i3_C = in_sort3.iloc[115:]["Close"]
i3 = round((int(i3_C)-int(i3_O))/int(i3_O)*100,2)

i4_O = in_sort4.iloc[:1]["Open"]
i4_C = in_sort4.iloc[115:]["Close"]
i4 = round((int(i4_C)-int(i4_O))/int(i4_O)*100,2)

In [41]:
i4

275.0