In [2]:
import pandas as pd
import requests
from datetime import datetime

btc_info = requests.get("https://min-api.cryptocompare.com/data/histoday?fsym=BTC&tsym=USD&limit=207")
btc_api_json = btc_info.json()
import json

high = []
low =[]
openP = []
close = []
timeS = []
volumefrom = []
volumeto = []
for x in btc_api_json["Data"]:
    high.append(x['high'])
    low.append(x['low'])
    openP.append(x["open"])
    close.append(x["close"])
    timeS.append(x["time"])
    volumefrom.append(x["volumefrom"])
    volumeto.append(x["volumeto"])

btc_api_df = pd.DataFrame({
    "high": high, "low": low, "openP": openP, "close": close, "timeS": timeS, "volumefrom": volumefrom, "volumeto":volumeto
})

btc_api_df = btc_api_df.rename(columns={'high': 'High ', 'openP': 'Open', 'close': 'Close', 'timeS':'Date',
                                        'low': "Low", "volumeto": "Volume"})

dTime = []
for row in btc_api_df["Date"]:
    x = datetime.utcfromtimestamp(row).strftime('%Y-%m-%d')
    dTime.append(x)
btc_api_df["Date"] = dTime
btc_api_df.head()

,High,Low,Open,Close,Date,volumefrom,Volume
0,11295.58,10256.21,11256.78,10481.66,2018-02-21,183274.25,1.982721e+09
1,10941.57,9757.19,10481.66,9847.96,2018-02-22,175506.26,1.795952e+09
2,10420.67,9604.00,9847.96,10175.51,2018-02-23,139373.76,1.399448e+09
3,10528.00,9396.54,10175.51,9705.73,2018-02-24,125269.68,1.244484e+09
4,9873.79,9329.44,9705.73,9610.11,2018-02-25,82430.45,7.930932e+08

In [3]:
btc_api_df = btc_api_df[["Date", "Open", "Close"]]
#### csv data
kaggle_set = pd.read_csv("bitcoin_price.csv")

kaggle_set = kaggle_set[["Date", "Open", "Close"]]

frames = [btc_api_df, kaggle_set]
bitcoin_df = pd.concat(frames)

bitcoin_df = bitcoin_df[["Date", "Open", "Close"]]
bitcoin_df.head()

         Date      Open     Close
0  2018-02-21  11256.78  10481.66
1  2018-02-22  10481.66   9847.96
2  2018-02-23   9847.96  10175.51
3  2018-02-24  10175.51   9705.73
4  2018-02-25   9705.73   9610.11

In [4]:
bit_sort = bitcoin_df.sort_values("Date", ascending=True)
bit_sort.head(2)

            Date    Open   Close
1759  2013-04-28  135.30  134.21
1758  2013-04-29  134.44  144.54

In [5]:
chop = len(bit_sort)
chop = chop/4
chop

492.0

In [26]:
bit_sort1 = bit_sort.iloc[:492]
bit_sort2 = bit_sort.iloc[492:984]
bit_sort3 = bit_sort.iloc[984:1476]
bit_sort4 = bit_sort.iloc[1476:]
bit_3L = bit_sort.iloc[:984]
len(bit_sort4)
bit_4L = bit_sort.iloc[984:]

In [22]:
bit1_O = bit_sort1.iloc[:1]["Open"]
bit1_C = bit_sort1.iloc[491:]["Close"]
bit1 = round((int(bit1_C)-int(bit1_O))/int(bit1_O)*100,2)

bit2_O = bit_sort2.iloc[:1]["Open"]
bit2_C = bit_sort2.iloc[491:]["Close"]
bit2 = round((int(bit2_C)-int(bit2_O))/int(bit2_O)*100,2)

bit3_O = bit_sort3.iloc[:1]["Open"]
bit3_C = bit_sort3.iloc[491:]["Close"]
bit3 = round((int(bit3_C)-int(bit3_O))/int(bit3_O)*100,2)

bit4_O = bit_sort4.iloc[:1]["Open"]
bit4_C = bit_sort4.iloc[491:]["Close"]
bit4 = round((int(bit4_C)-int(bit4_O))/int(bit4_O)*100,2)
print(bit1, bit2, bit3, bit4)

251.11 -9.49 300.93 277.54

In [23]:
bitQ_Values = [bit1, bit2, bit3, bit4]
bitQ_Labels = ["First Quarter", "Seond Quarter", "Third Quarter", "Fourth Quarter"]

bitCoin_Q_json = {
    "numbers": bitQ_Values, 
    "labels": bitQ_Labels
}

In [24]:
import pymongo

# Create connection variable
conn = 'mongodb://localhost:27017'

# Pass connection to the pymongo instance.
client = pymongo.MongoClient(conn)

# Connect to a database. Will create one if not already available.
db = client.bitcoin_Q

# Drops collection if available to remove duplicates
db.bitcoin_q.drop()

# Creates a collection in the database and insert document
db.bitcoin_q.insert_one(
    bitCoin_Q_json
)

In [25]:
print(len(bitQ_Values))
print(len(bitQ_Labels))

4
4