In [1]:
import quandl
from datetime import datetime
import pandas as pd

In [2]:
# pull data for microsoft, apple, google, amazon , bitcoin

quandl.ApiConfig.api_key = "V2vzspYSYL8eenGuq8uF "
url = 'https://www.quandl.com/api/v3/databases/EOD/metadata?api_key=V2vzspYSYL8eenGuq8uF'
# https://www.quandl.com/api/v3/datasets/WIKI/$%7Bstock%7D.json?start_date=2016-10-01&end_date=2017-10-01&api_key=${apiKey}`;

In [3]:
#Database for AAPL
mydata = pd.DataFrame(quandl.get("EOD/AAPL",collapse="monthly"))
mydata.head()

,Open,High,Low,Close,Volume,Dividend,Split,Adj_Open,Adj_High,Adj_Low,Adj_Close,Adj_Volume
Date,,,,,,,,,,,,
1980-12-31,34.25,34.25,34.13,34.13,159600.0,0.0,1.0,0.496077,0.496077,0.494339,0.494339,8937600.0
1981-01-31,28.50,28.50,28.25,28.25,206200.0,0.0,1.0,0.412794,0.412794,0.409173,0.409173,11547200.0
1981-02-28,26.50,26.75,26.50,26.50,65900.0,0.0,1.0,0.383826,0.387447,0.383826,0.383826,3690400.0
1981-03-31,24.75,24.75,24.50,24.50,71400.0,0.0,1.0,0.358479,0.358479,0.354858,0.354858,3998400.0
1981-04-30,28.38,28.62,28.38,28.38,56300.0,0.0,1.0,0.411056,0.414532,0.411056,0.411056,3152800.0

In [4]:
Appledata = mydata[["Open","High","Low","Close","Volume","Split"]]
# Appledata = pd.DataFrame(Appledata)

In [5]:
Appledata.reset_index(inplace = True)

Appledata.head()
# Appledata.dtypes

        Date   Open   High    Low  Close    Volume  Split
0 1980-12-31  34.25  34.25  34.13  34.13  159600.0    1.0
1 1981-01-31  28.50  28.50  28.25  28.25  206200.0    1.0
2 1981-02-28  26.50  26.75  26.50  26.50   65900.0    1.0
3 1981-03-31  24.75  24.75  24.50  24.50   71400.0    1.0
4 1981-04-30  28.38  28.62  28.38  28.38   56300.0    1.0

In [6]:

gg = Appledata.loc[Appledata['Date'] == "1980-12-31"]
gg

        Date   Open   High    Low  Close    Volume  Split
0 1980-12-31  34.25  34.25  34.13  34.13  159600.0    1.0

In [20]:

year = 1980

x = 0
changes = []
while x < (len(Appledata)-1):
    openV = Appledata["Open"][x]

    closeV = Appledata["Close"][x+1]
    changes.append(round((closeV-openV)/openV*100))

    x += 1
print(len(changes))

453

In [25]:
months = ["Jan-Feb","Feb-Mar","Mar-Apr","Apr-May","May-June","June-July","July-Aug","Aug-Sept","Sept-Oct","Oct-Nov","Nov-Dec", "Dec-Jan"]
year = 1981
labels = []
while year < 2018:
    for month in months:
        labels.append(str(month) + " " + str(year))
    year += 1    
labels.append("Dec-Jan 2018")
labels.append("Jan-Feb 2018")
labels.append("Feb-Mar 2018")
labels.append("Mar-Apr 2018")
labels.append("Apr-May 2018")
labels.append("May-June 2018")
labels.append("June-July 2018")
labels.append("July-Aug 2018")
labels = ["Dec-Jan 1980"] + labels




labels

['Dec-Jan 1980',
 'Jan-Feb 1981',
 'Feb-Mar 1981',
 'Mar-Apr 1981',
 'Apr-May 1981',
 'May-June 1981',
 'June-July 1981',
 'July-Aug 1981',
 'Aug-Sept 1981',
 'Sept-Oct 1981',
 'Oct-Nov 1981',
 'Nov-Dec 1981',
 'Dec-Jan 1981',
 'Jan-Feb 1982',
 'Feb-Mar 1982',
 'Mar-Apr 1982',
 'Apr-May 1982',
 'May-June 1982',
 'June-July 1982',
 'July-Aug 1982',
 'Aug-Sept 1982',
 'Sept-Oct 1982',
 'Oct-Nov 1982',
 'Nov-Dec 1982',
 'Dec-Jan 1982',
 'Jan-Feb 1983',
 'Feb-Mar 1983',
 'Mar-Apr 1983',
 'Apr-May 1983',
 'May-June 1983',
 'June-July 1983',
 'July-Aug 1983',
 'Aug-Sept 1983',
 'Sept-Oct 1983',
 'Oct-Nov 1983',
 'Nov-Dec 1983',
 'Dec-Jan 1983',
 'Jan-Feb 1984',
 'Feb-Mar 1984',
 'Mar-Apr 1984',
 'Apr-May 1984',
 'May-June 1984',
 'June-July 1984',
 'July-Aug 1984',
 'Aug-Sept 1984',
 'Sept-Oct 1984',
 'Oct-Nov 1984',
 'Nov-Dec 1984',
 'Dec-Jan 1984',
 'Jan-Feb 1985',
 'Feb-Mar 1985',
 'Mar-Apr 1985',
 'Apr-May 1985',
 'May-June 1985',
 'June-July 1985',
 'July-Aug 1985',
 'Aug-Sept 1985',
 'Sept-Oct 1985',
 'Oct-Nov 1985',
 'Nov-Dec 1985',
 'Dec-Jan 1985',
 'Jan-Feb 1986',
 'Feb-Mar 1986',
 'Mar-Apr 1986',
 'Apr-May 1986',
 'May-June 1986',
 'June-July 1986',
 'July-Aug 1986',
 'Aug-Sept 1986',
 'Sept-Oct 1986',
 'Oct-Nov 1986',
 'Nov-Dec 1986',
 'Dec-Jan 1986',
 'Jan-Feb 1987',
 'Feb-Mar 1987',
 'Mar-Apr 1987',
 'Apr-May 1987',
 'May-June 1987',
 'June-July 1987',
 'July-Aug 1987',
 'Aug-Sept 1987',
 'Sept-Oct 1987',
 'Oct-Nov 1987',
 'Nov-Dec 1987',
 'Dec-Jan 1987',
 'Jan-Feb 1988',
 'Feb-Mar 1988',
 'Mar-Apr 1988',
 'Apr-May 1988',
 'May-June 1988',
 'June-July 1988',
 'July-Aug 1988',
 'Aug-Sept 1988',
 'Sept-Oct 1988',
 'Oct-Nov 1988',
 'Nov-Dec 1988',
 'Dec-Jan 1988',
 'Jan-Feb 1989',
 'Feb-Mar 1989',
 'Mar-Apr 1989',
 'Apr-May 1989',
 'May-June 1989',
 'June-July 1989',
 'July-Aug 1989',
 'Aug-Sept 1989',
 'Sept-Oct 1989',
 'Oct-Nov 1989',
 'Nov-Dec 1989',
 'Dec-Jan 1989',
 'Jan-Feb 1990',
 'Feb-Mar 1990',
 'Mar-Apr 1990',
 'Apr-May 1990',
 'May-June 1990',
 'June-July 1990',
 'July-Aug 1990',
 'Aug-Sept 1990',
 'Sept-Oct 1990',
 'Oct-Nov 1990',
 'Nov-Dec 1990',
 'Dec-Jan 1990',
 'Jan-Feb 1991',
 'Feb-Mar 1991',
 'Mar-Apr 1991',
 'Apr-May 1991',
 'May-June 1991',
 'June-July 1991',
 'July-Aug 1991',
 'Aug-Sept 1991',
 'Sept-Oct 1991',
 'Oct-Nov 1991',
 'Nov-Dec 1991',
 'Dec-Jan 1991',
 'Jan-Feb 1992',
 'Feb-Mar 1992',
 'Mar-Apr 1992',
 'Apr-May 1992',
 'May-June 1992',
 'June-July 1992',
 'July-Aug 1992',
 'Aug-Sept 1992',
 'Sept-Oct 1992',
 'Oct-Nov 1992',
 'Nov-Dec 1992',
 'Dec-Jan 1992',
 'Jan-Feb 1993',
 'Feb-Mar 1993',
 'Mar-Apr 1993',
 'Apr-May 1993',
 'May-June 1993',
 'June-July 1993',
 'July-Aug 1993',
 'Aug-Sept 1993',
 'Sept-Oct 1993',
 'Oct-Nov 1993',
 'Nov-Dec 1993',
 'Dec-Jan 1993',
 'Jan-Feb 1994',
 'Feb-Mar 1994',
 'Mar-Apr 1994',
 'Apr-May 1994',
 'May-June 1994',
 'June-July 1994',
 'July-Aug 1994',
 'Aug-Sept 1994',
 'Sept-Oct 1994',
 'Oct-Nov 1994',
 'Nov-Dec 1994',
 'Dec-Jan 1994',
 'Jan-Feb 1995',
 'Feb-Mar 1995',
 'Mar-Apr 1995',
 'Apr-May 1995',
 'May-June 1995',
 'June-July 1995',
 'July-Aug 1995',
 'Aug-Sept 1995',
 'Sept-Oct 1995',
 'Oct-Nov 1995',
 'Nov-Dec 1995',
 'Dec-Jan 1995',
 'Jan-Feb 1996',
 'Feb-Mar 1996',
 'Mar-Apr 1996',
 'Apr-May 1996',
 'May-June 1996',
 'June-July 1996',
 'July-Aug 1996',
 'Aug-Sept 1996',
 'Sept-Oct 1996',
 'Oct-Nov 1996',
 'Nov-Dec 1996',
 'Dec-Jan 1996',
 'Jan-Feb 1997',
 'Feb-Mar 1997',
 'Mar-Apr 1997',
 'Apr-May 1997',
 'May-June 1997',
 'June-July 1997',
 'July-Aug 1997',
 'Aug-Sept 1997',
 'Sept-Oct 1997',
 'Oct-Nov 1997',
 'Nov-Dec 1997',
 'Dec-Jan 1997',
 'Jan-Feb 1998',
 'Feb-Mar 1998',
 'Mar-Apr 1998',
 'Apr-May 1998',
 'May-June 1998',
 'June-July 1998',
 'July-Aug 1998',
 'Aug-Sept 1998',
 'Sept-Oct 1998',
 'Oct-Nov 1998',
 'Nov-Dec 1998',
 'Dec-Jan 1998',
 'Jan-Feb 1999',
 'Feb-Mar 1999',
 'Mar-Apr 1999',
 'Apr-May 1999',
 'May-June 1999',
 'June-July 1999',
 'July-Aug 1999',
 'Aug-Sept 1999',
 'Sept-Oct 1999',
 'Oct-Nov 1999',
 'Nov-Dec 1999',
 'Dec-Jan 1999',
 'Jan-Feb 2000',
 'Feb-Mar 2000',
 'Mar-Apr 2000',
 'Apr-May 2000',
 'May-June 2000',
 'June-July 2000',
 'July-Aug 2000',
 'Aug-Sept 2000',
 'Sept-Oct 2000',
 'Oct-Nov 2000',
 'Nov-Dec 2000',
 'Dec-Jan 2000',
 'Jan-Feb 2001',
 'Feb-Mar 2001',
 'Mar-Apr 2001',
 'Apr-May 2001',
 'May-June 2001',
 'June-July 2001',
 'July-Aug 2001',
 'Aug-Sept 2001',
 'Sept-Oct 2001',
 'Oct-Nov 2001',
 'Nov-Dec 2001',
 'Dec-Jan 2001',
 'Jan-Feb 2002',
 'Feb-Mar 2002',
 'Mar-Apr 2002',
 'Apr-May 2002',
 'May-June 2002',
 'June-July 2002',
 'July-Aug 2002',
 'Aug-Sept 2002',
 'Sept-Oct 2002',
 'Oct-Nov 2002',
 'Nov-Dec 2002',
 'Dec-Jan 2002',
 'Jan-Feb 2003',
 'Feb-Mar 2003',
 'Mar-Apr 2003',
 'Apr-May 2003',
 'May-June 2003',
 'June-July 2003',
 'July-Aug 2003',
 'Aug-Sept 2003',
 'Sept-Oct 2003',
 'Oct-Nov 2003',
 'Nov-Dec 2003',
 'Dec-Jan 2003',
 'Jan-Feb 2004',
 'Feb-Mar 2004',
 'Mar-Apr 2004',
 'Apr-May 2004',
 'May-June 2004',
 'June-July 2004',
 'July-Aug 2004',
 'Aug-Sept 2004',
 'Sept-Oct 2004',
 'Oct-Nov 2004',
 'Nov-Dec 2004',
 'Dec-Jan 2004',
 'Jan-Feb 2005',
 'Feb-Mar 2005',
 'Mar-Apr 2005',
 'Apr-May 2005',
 'May-June 2005',
 'June-July 2005',
 'July-Aug 2005',
 'Aug-Sept 2005',
 'Sept-Oct 2005',
 'Oct-Nov 2005',
 'Nov-Dec 2005',
 'Dec-Jan 2005',
 'Jan-Feb 2006',
 'Feb-Mar 2006',
 'Mar-Apr 2006',
 'Apr-May 2006',
 'May-June 2006',
 'June-July 2006',
 'July-Aug 2006',
 'Aug-Sept 2006',
 'Sept-Oct 2006',
 'Oct-Nov 2006',
 'Nov-Dec 2006',
 'Dec-Jan 2006',
 'Jan-Feb 2007',
 'Feb-Mar 2007',
 'Mar-Apr 2007',
 'Apr-May 2007',
 'May-June 2007',
 'June-July 2007',
 'July-Aug 2007',
 'Aug-Sept 2007',
 'Sept-Oct 2007',
 'Oct-Nov 2007',
 'Nov-Dec 2007',
 'Dec-Jan 2007',
 'Jan-Feb 2008',
 'Feb-Mar 2008',
 'Mar-Apr 2008',
 'Apr-May 2008',
 'May-June 2008',
 'June-July 2008',
 'July-Aug 2008',
 'Aug-Sept 2008',
 'Sept-Oct 2008',
 'Oct-Nov 2008',
 'Nov-Dec 2008',
 'Dec-Jan 2008',
 'Jan-Feb 2009',
 'Feb-Mar 2009',
 'Mar-Apr 2009',
 'Apr-May 2009',
 'May-June 2009',
 'June-July 2009',
 'July-Aug 2009',
 'Aug-Sept 2009',
 'Sept-Oct 2009',
 'Oct-Nov 2009',
 'Nov-Dec 2009',
 'Dec-Jan 2009',
 'Jan-Feb 2010',
 'Feb-Mar 2010',
 'Mar-Apr 2010',
 'Apr-May 2010',
 'May-June 2010',
 'June-July 2010',
 'July-Aug 2010',
 'Aug-Sept 2010',
 'Sept-Oct 2010',
 'Oct-Nov 2010',
 'Nov-Dec 2010',
 'Dec-Jan 2010',
 'Jan-Feb 2011',
 'Feb-Mar 2011',
 'Mar-Apr 2011',
 'Apr-May 2011',
 'May-June 2011',
 'June-July 2011',
 'July-Aug 2011',
 'Aug-Sept 2011',
 'Sept-Oct 2011',
 'Oct-Nov 2011',
 'Nov-Dec 2011',
 'Dec-Jan 2011',
 'Jan-Feb 2012',
 'Feb-Mar 2012',
 'Mar-Apr 2012',
 'Apr-May 2012',
 'May-June 2012',
 'June-July 2012',
 'July-Aug 2012',
 'Aug-Sept 2012',
 'Sept-Oct 2012',
 'Oct-Nov 2012',
 'Nov-Dec 2012',
 'Dec-Jan 2012',
 'Jan-Feb 2013',
 'Feb-Mar 2013',
 'Mar-Apr 2013',
 'Apr-May 2013',
 'May-June 2013',
 'June-July 2013',
 'July-Aug 2013',
 'Aug-Sept 2013',
 'Sept-Oct 2013',
 'Oct-Nov 2013',
 'Nov-Dec 2013',
 'Dec-Jan 2013',
 'Jan-Feb 2014',
 'Feb-Mar 2014',
 'Mar-Apr 2014',
 'Apr-May 2014',
 'May-June 2014',
 'June-July 2014',
 'July-Aug 2014',
 'Aug-Sept 2014',
 'Sept-Oct 2014',
 'Oct-Nov 2014',
 'Nov-Dec 2014',
 'Dec-Jan 2014',
 'Jan-Feb 2015',
 'Feb-Mar 2015',
 'Mar-Apr 2015',
 'Apr-May 2015',
 'May-June 2015',
 'June-July 2015',
 'July-Aug 2015',
 'Aug-Sept 2015',
 'Sept-Oct 2015',
 'Oct-Nov 2015',
 'Nov-Dec 2015',
 'Dec-Jan 2015',
 'Jan-Feb 2016',
 'Feb-Mar 2016',
 'Mar-Apr 2016',
 'Apr-May 2016',
 'May-June 2016',
 'June-July 2016',
 'July-Aug 2016',
 'Aug-Sept 2016',
 'Sept-Oct 2016',
 'Oct-Nov 2016',
 'Nov-Dec 2016',
 'Dec-Jan 2016',
 'Jan-Feb 2017',
 'Feb-Mar 2017',
 'Mar-Apr 2017',
 'Apr-May 2017',
 'May-June 2017',
 'June-July 2017',
 'July-Aug 2017',
 'Aug-Sept 2017',
 'Sept-Oct 2017',
 'Oct-Nov 2017',
 'Nov-Dec 2017',
 'Dec-Jan 2017',
 'Dec-Jan 2018',
 'Jan-Feb 2018',
 'Feb-Mar 2018',
 'Mar-Apr 2018',
 'Apr-May 2018',
 'May-June 2018',
 'June-July 2018',
 'July-Aug 2018']

In [27]:
Appl_json = {
    "numbers": changes, 
    "labels": labels
}

In [28]:
import pymongo

# Create connection variable
conn = 'mongodb://localhost:27017'

# Pass connection to the pymongo instance.
client = pymongo.MongoClient(conn)

# Connect to a database. Will create one if not already available.
db = client.Apple_y_y

# Drops collection if available to remove duplicates
db.apple_y_o_y.drop()

# Creates a collection in the database and insert document
db.apple_y_o_y.insert_one(
    Appl_json
)